---
layout: default.njk
title: ホームページ
---

<div class="container mx-auto p-8">
  <h1 class="text-4xl font-bold mb-4">Welcome</h1>
  <p class="text-lg">Hello World</p>
  <img src="/media/images/ham_heart_eyes.png" alt="Logo" class="w-1/2">
</div>
